/**
 * Stripped version of the core mediawiki styles used for agora-style
 * checkboxes and feature fields.
 */

@charset "UTF-8";
/* line 102, sourcefiles/scss/components/default/_forms.scss */
.client-js .mw-ui-styled-checkbox-label {
	cursor: pointer;
	display: inline-block;
	float: left;
	width: 24px;
	height: 24px;
	border: 1px solid grey;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	margin-right: 18px;
}
/* line 103, sourcefiles/scss/components/default/_forms.scss */
.client-js .mw-ui-styled-checkbox-label input[type=checkbox] {
	display: none;
}
/* line 117, sourcefiles/scss/components/default/_forms.scss */
.client-js .mw-ui-styled-checkbox-label.mw-ui-checked {
	background: url("../img/form-icon/checked.svg") no-repeat;
}
/* line 121, sourcefiles/scss/components/default/_forms.scss */
.client-js .mw-ui-styled-checkbox-label.mw-ui-disabled {
	background-color: lightgrey;
}
/* line 126, sourcefiles/scss/components/default/_forms.scss */
.client-js .mw-ui-checkbox-label {
	padding-top: 5px;
}

/* line 132, sourcefiles/scss/components/default/_forms.scss */
table.mw-htmlform-container {
	border-collapse: separate;
	border-spacing: 0px 4px;
}

/* line 137, sourcefiles/scss/components/default/_forms.scss */
.mw-htmlform-field-HTMLFeatureField .mw-input {
	padding-top: 10px;
}

.mw-ui-feature-title {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 36px;
}

.mw-ui-feature-header {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 0.5em;
}

.mw-ui-feature-meta,
.mw-ui-feature-screenshot-contain,
.mw-ui-feature-title-contain,
.mw-ui-feature-info-links {
	width: 50%;
}

.mw-ui-feature-info-links,
.mw-ui-feature-title-contain {
	display: inline-block;
}

.mw-ui-feature-screenshot-contain,
.mw-ui-feature-meta {
	display: inline-block;
	vertical-align: top;
}

.mw-ui-feature-field {
	margin-bottom: 68px;
	position: relative;
}

.mw-htmlform-field-HTMLHorizontalRuleField .mw-input hr {
	background-color: #e5e5e5;
}

.mw-htmlform-field-HTMLHorizontalRuleField .mw-input {
	padding-top: 15px;
}

.mw-htmlform-field-HTMLHorizontalRuleField .mw-input hr,
.mw-ui-feature-contain {
	margin-left: 42px;
	width: 80%;
}

.mw-ui-feature-description {
	margin: 1em 0 0 0;
	padding-right: 1em;
}

.mw-ui-feature-discussion-link,
.mw-ui-feature-info-link {
	height: 24px;
	line-height: 24px;
	padding: 6px 10px 6px 40px;
	display: inline-block;
	border-left: 1px solid #e5e5e5;
}

.mw-ui-feature-discussion-link {
	padding-left: 46px;
	background: url('../img/form-icon/feature-discussion.svg') 10px 6px no-repeat;
}

.mw-ui-feature-info-link {
	background: url('../img/form-icon/feature-information.png') 10px 6px no-repeat;
}

/* line 219, sourcefiles/scss/components/default/_forms.scss */
.mw-ui-feature-screenshot {
	margin: 1em 0 0 0;
	max-height: 150px;
	max-width: 100%;
}

.mw-ui-feature-user-count {
	color: #00b08a;
	margin: 1em 0 0 0;
}

.mw-ui-feature-checkbox .mw-ui-styled-checkbox-label {
	margin-top: 6px;
	margin-right: 9px;
}

label.mw-ui-text-check-label[for="mw-input-wpbetafeatures-auto-enroll"] {
	color: #a3a3a3;
}

.mw-htmlform-field-HTMLTextBlockField .mw-input {
	padding-bottom: 15px;
}
